doctype html
head
  meta(charset="UTF-8")
  title Markers
  link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
  link(rel="stylesheet",href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(rel="stylesheet",href="index.css")  
body
  .container
    .row
      h3.red-text.accent-2 Buscar Dirección
      .input-field
        input(type="text")#direction.validation
    .row.no-ma
      .col.s12
        .card-panel.hoverable.height-complete
          #map

  .fixed-action-btn#btnslide
    a.btn-floating.btn-large.green.button-collapse
      i.large.material-icons toc
  
  script(type="text/javascript",src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLsXodPfyM65FYwVM6Gz9TQgYLRoiFtUw&signed_in=true&libraries=places")
  script(type="text/javascript",src="app.js")
  